<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='http://192.168.0.15:3000/stylesheets/materialize.min.css' />
  <link rel='stylesheet' href='http://192.168.0.15:3000/stylesheets/style.css' />
  <link rel='stylesheet' href='http://192.168.0.15:3000/stylesheets/font-awesome.min.css' />
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href={{baseUrl}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href=/>Segment</a></li>
        <li><a href=platform>Platform</a></li>
      </ul>
    </div>
  </nav>
  {{{body}}}
</body>
<script src="http://192.168.0.15:4000/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://192.168.0.15:4000');
</script>
<script src="http://192.168.0.15:3000/module_scripts/handlebars/dist/handlebars.min.js"></script>
<script src="http://192.168.0.15:3000/module_scripts/jquery/dist/jquery.min.js"></script>
<script src="http://192.168.0.15:3000/javascripts/materialize.min.js"></script>
<script src="http://192.168.0.15:3000/javascripts/main.js"></script>

</html>
