

body {
  /*padding: 20px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #212121;
}

a {
  color: #00B7FF;
}

.set-container{
}

.article-title{
  /*text-shadow: 3px 2px 3px black;*/
  font-size: 1.5vw !important;
}

.status-title{
  padding-top: 10px;
}
.collapsible, .collapsible-body, .collapsible-header{
  background-color: #424242;
  border-color: #616161;
}

nav{
  background-color: rgba(255,0,0,0.0) !important;
}
