

body {
  /*padding: 20px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #212121;
}

a {
  color: #00B7FF;
}

.set-container{
}

.article-title{
  /*text-shadow: 3px 2px 3px black;*/
  font-size: 1.5vw !important;
}

.status-title{
  padding-top: 10px;
}
.collapsible, .collapsible-body, .collapsible-header,
.collection,.collection-item, .collection-header{
  background-color: #424242 !important;
  border-color: #616161 !important;
}

.tabs{
  background-color: #757575;
  border-color: #757575;
  color
}

.tabs .indicator{
  background-color: #4caf50;
}

.tabs .tab a:hover,
.tabs .tab a.active{
  color: #76ff03;
}

.tabs .tab a {
  color: #4caf50;
}

nav{
  background-color: rgba(255,0,0,0.0) !important;
}
